<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="<%= typeof userId != 'undefined' ? '/user/' + userId + '/dashboard' : '/' %>">LanguageApp 🦉</a>
        
        <div class="d-flex align-items-center gap-3">
            <% if(typeof userId != 'undefined') { %>
                <a href="/user/<%= userId %>" class="text-white text-decoration-none">Мій Профіль</a>
                <a href="/auth/logout" class="btn btn-sm btn-danger">Вихід</a>
            <% } else { %>
                <a href="/auth/login" class="btn btn-sm btn-primary">Вхід</a>
            <% } %>
        </div>
    </div>
</nav>